* {
	box-sizing: border-box;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
body {
	font-family: 'Montserrat', sans-serif;
}
.row:after, .menu:after{
	content: "";
	clear:both;
	display: block;
}
.row{
	display: flex;
	flex-direction: row;
}
.row-center{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.col-md-2{
	width: 16%;
}
.col-md-3{
	width: 25%;
}
.col-md-6{
	width: 50%;
}
.col-md-33{
	width: 33%;
	height: 100%;
}
.col-md-8{
	width: 66%;
}
.menu{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.menu li{
	display: block;
	text-align: center;
}
.menu a{
	display: block;
	text-decoration: none;
	color: #aaaaaa;
	line-height: 32px;
	font-size: 12px;
}
.menu a:hover{
	color: black;
}
.logo{
	display: flex;
	align-items: center;
}
.logo-name{
	color: #757575;
	font-size: 18px;
	margin-left: 13px;
}
.header{
	padding: 20px 0;
	position: sticky;
	top: 0;
	left: 0;
	background-color: white;
	z-index: 10;
}
.social-menu{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	height: 32px;
	align-items: center;
}
.social{
	height: 10px;
	width: 10px;
	background-image: url("images/Facebook.png");
	margin-right: 5px;
	cursor: pointer;
}
.social:hover{
	background-image: url("images/Facebook_black.png");
}
.frame{
	height: 10px;
	width: 1px;
	background-color: #aaaaaa;
	margin-right: 5px;
}
.frame2{
	height: 10px;
	width: 2px;
	background-color: #aaaaaa;
	margin-right: 5px;
}
.social2{
	height: 9px;
	width: 11px;
	background-image: url("images/Twitter.png");
	margin-right: 5px;
	cursor: pointer;
}
.social2:hover{
	background-image: url("images/Twitter_black.png");
}
.social3{
	height: 10px;
	width: 16px;
	background-image: url("images/Behance.png");
	cursor: pointer;
}
.social3:hover{
	background-image: url("images/Behance_black.png");
}
#section1-blog{
	padding: 115px 0;
	background-image: url("images/blog_bg.png");
}
.text1{
	margin-top: 25px;
	font-family: 'Crimson Text', serif;
	font-size: 14px;
	color: white;
}
.text2{
	text-decoration-style: wavy;
	color: white;
	font-size: 36px;
	font-family: 'Delius Swash Caps', cursive;
	/*margin-top: 70px;*/
	position: absolute;

}
.wave{
	margin-top: 50px;
	height: 5px;
	width: 321px;
	background-image: url("images/single-line.png");
	position: relative;
	margin-bottom: 45px;
}
#section2-blog{
	padding: 85px 0;
	background-color: #e3e3e3;
}
.row-column{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.show-more{
	margin: 35px 0 35px 0;
	width: 132px;
	height: 34px;
	border: 2px solid #3e3d3d;
	background-color: #e3e3e3;
	color: #3e3d3d;
	font-family: 'Montserrat', sans-serif;
	display: block;
	text-decoration: none;
	text-align: center;
	line-height: 30px;
	font-size: 13px;
}
.show-more:hover{
	background-color: #3e3d3d;
	color: #e3e3e3;
}
.post{
	/*text-align: center;*/
	margin: 0 10px 0 10px;
}
.post-title{
	margin: 40px 0 15px 0;
	color: #3e3d3d;
	font-size: 16px;
	font-weight: 600;
}
.post-date{
	margin: 0 0 20px 0;
	font-size: 14px;
	font-family: 'Crimson Text', serif;
	font-style: italic;
}
.group{
	display: flex;
	flex-direction: row;
	border-top: 1px solid #b7b7b7;
	border-bottom: 1px solid #b7b7b7;
	width: 100%;
	align-items: center;
}
/*.post img{
	margin: 0 9.5px 0 9.5px;
}*/
.group1{
	width: 14px;
	height: 12px;
	background-image: url("images/b-icon1.png");
	line-height: 42px;
}
.group2{
	width: 19px;
	height: 12px;
	background-image: url("images/b-icon2.png");
	line-height: 42px;
}
.group3{
	width: 13px;
	height: 11px;
	background-image: url("images/b-icon3.png");
	line-height: 42px;
}
.group1-number, .group2-number, .group3-text{
	color: #b7b7b7;
	font-size: 14px;
	font-family: 'Crimson Text', serif;
	font-style: italic;
	padding: 14px 0;
	margin: 0 10px 0 10px;
}
.post-text{
	margin: 30px 0;
	font-size: 14px;
	font-family: 'Crimson Text', serif;
	color: #3e3d3d;
	line-height: 1.5;
}
#footer{
	padding: 50px 0;
	background-image: url("images/Background2.png");
}
.white{
	color: #c7c7c7;
	font-weight: 400;
}
.show-more{
	margin: 35px 0 35px 0;
	width: 132px;
	height: 34px;
	border: 2px solid #3e3d3d;
	background-color: #e3e3e3;
	color: #3e3d3d;
	font-family: 'Montserrat', sans-serif;
	display: block;
	text-decoration: none;
	text-align: center;
	line-height: 30px;
	font-size: 13px;
	cursor: pointer;
}
.show-more a{
	text-decoration: none;
	color: #3e3d3d;
	display: block;
}
.show-more a:hover{
	background-color: #3e3d3d;
	color: #e3e3e3;
}
.text-section8{
	margin: 40px 20px 40px 0;
	color: #777777;
	font-size: 14px;
	font-family: 'Crimson Text', serif;
	line-height: 1.5;
}
.title-section8{
	color: #e3e3e3;
	font-size: 13px;
	line-height: 1.5;
}
.margin-section8{
	margin: 30px 0 50px;
}
.border{
	border-bottom: 1px solid #3e3e3e;
}
.footer-text{
	padding: 40px 0 0;
	color: #777777;
	font-size: 13px;
	font-family: 'Crimson Text', serif;
	font-style: italic;
}
input[type="text"], input[type="number"], input[type="email"] {
	width: 370px;
	height: 55px;
	color: #777777;
	font-size: 13px;
	font-family: 'Crimson Text', serif;
	font-style: italic;
	border: 2px solid #464646;
	margin-bottom: 22px;
	background-color: transparent;
	padding-left: 20px;
}
.row-space-between{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.message{
	width: 756px;
	height: 95px;
	color: #777777;
	font-size: 13px;
	font-family: 'Crimson Text', serif;
	font-style: italic;
	border: 2px solid #464646;
	margin-bottom: 22px;
	background-color: transparent;
	padding: 20px 0 0 20px;
}
.form{
	margin-top: 69px;
}
.submit{
	height: 39px;
	width: 134px;
	color: #cacaca;
	background-color: #464646;
	border: none;
	font-family: 'Montserrat', sans-serif;
}
.submit:hover{
	color: #464646;
	background-color:#cacaca;
}
#menu-toggle{
	display: none;
}
.row-block{
	display: flex;
	flex-direction: row;
}
.magictime {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}
/*.post:hover{
	background-color: black;
}*/
@media (max-width: 767px){
	.container{
		max-width: 300px;
	}
	.menu{
		display: none;
	}
	.text2{
		font-size: 27px;
	}
	.row-block{
		flex-direction: column;
	}
	.post img{
		width: 280px;
	}
	.col-md-3{
		width: 50%;
	}
	.col-md-33{
		width: 100%;
	}
	.show-more{
		margin: 0 0 45px 0;
	}
}
/*tablet*/
@media (min-width: 768px) {
	.container{
		max-width: 730px;
	}
	.post img{
		width: 230px;
	}
	.menu a{
		font-size: 10px;
	}
}
/*laptop*/
@media (min-width: 992px) {
	.container{
		max-width: 900px;
	}
	.post img{
		width: 280px;
	}
	.menu a{
		font-size: 12px;
	}
}
/*desktop*/
@media (min-width: 1200px) {
	.container{
		max-width: 1170px;
	}
	.post img{
		width: 367px;
	}
	.menu a{
		font-size: 12px;
	}
}






