* {
	box-sizing: border-box;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
body {
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}
.wrapper {
  display: flex;
  flex-flow: row wrap;
  margin:0 auto;
  overflow: hidden;
}
.row:after, .menu:after{
	content: "";
	clear:both;
	display: block;
}
.row{
	display: flex;
	flex-direction: row;
}
.row-center{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.row-post{
	display: flex;
	flex-direction: row;
}
.col-md-1{
	width: 14%;
}
.col-md-2{
	width: 16%;
}
.col-md-3{
	width: 25%;
}
.col-md-6{
	width: 50%;
}
.col-md-33{
	width: 33%;
}
.col-md-40{
	width: 40%;
}
.col-md-60{
	width: 60%;
}
.col-md-8{
	width: 66%;
}
.col-md-9{
	width: 75%;
}
.col-md-10{
	width: 86%;
}
.menu{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.menu li{
	display: block;
	text-align: center;
}
.menu a{
	display: block;
	text-decoration: none;
	color: #aaaaaa;
	line-height: 32px;
	font-size: 12px;
}
.menu a:hover{
	color: black;
}
.logo{
	display: flex;
	align-items: center;
}
.logo-name{
	color: #757575;
	font-size: 18px;
	margin-left: 13px;
}
.header{
	padding: 20px 0;
	position: sticky;
	top: 0;
	left: 0;
	background-color: white;
	z-index: 10;
	width: 100%;
}
.social-menu{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	height: 32px;
	align-items: center;
}
.social{
	height: 10px;
	width: 10px;
	background-image: url("images/Facebook.png");
	margin-right: 5px;
	cursor: pointer;
}
.social:hover{
	background-image: url("images/Facebook_black.png");
}
.frame{
	height: 10px;
	width: 1px;
	background-color: #aaaaaa;
	margin-right: 5px;
}
.frame2{
	height: 10px;
	width: 2px;
	background-color: #aaaaaa;
	margin-right: 5px;
}
.social2{
	height: 9px;
	width: 11px;
	background-image: url("images/Twitter.png");
	margin-right: 5px;
	cursor: pointer;
}
.social2:hover{
	background-image: url("images/Twitter_black.png");
}
.social3{
	height: 10px;
	width: 16px;
	background-image: url("images/Behance.png");
	cursor: pointer;
}
.social3:hover{
	background-image: url("images/Behance_black.png");
}
#section1{
	padding: 115px 0;
	background-image: url("images/Image_post.png");
	width: 100%;
}
.text1{
	margin-top: 25px;
	font-family: 'Crimson Text', serif;
	font-size: 14px;
	color: white;
}
.text2{
	text-decoration-style: wavy;
	color: white;
	font-size: 36px;
	font-family: 'Delius Swash Caps', cursive;
	/*margin-top: 70px;*/
	position: absolute;

}
.wave{
	margin-top: 50px;
	height: 5px;
	width: 321px;
	background-image: url("images/single-line.png");
	position: relative;
	margin-bottom: 45px;
}
#section2{
	padding: 75px 0;
	background-color: #e3e3e3;
	width: 100%;
}
.mar/*gin-right{
	margin-right: 78px;*/
}
.post-title{
	margin: 40px 0 15px 0;
	color: #3e3d3d;
	font-size: 16px;
	font-weight: 600;
}
.post-date{
	margin: 0 0 20px 0;
	font-size: 14px;
	font-family: 'Crimson Text', serif;
	font-style: italic;
}
.group{
	display: flex;
	flex-direction: row;
	border-top: 1px solid #b7b7b7;
	border-bottom: 1px solid #b7b7b7;
	width: 100%;
	align-items: center;
}
/*.post img{
	margin: 0 9.5px 0 9.5px;
}*/
.group1{
	width: 14px;
	height: 12px;
	background-image: url("images/b-icon1.png");
	line-height: 42px;
}
.group2{
	width: 19px;
	height: 12px;
	background-image: url("images/b-icon2.png");
	line-height: 42px;
}
.group3{
	width: 13px;
	height: 11px;
	background-image: url("images/b-icon3.png");
	line-height: 42px;
}
.group1-number, .group2-number, .group3-text{
	color: #b7b7b7;
	font-size: 14px;
	font-family: 'Crimson Text', serif;
	font-style: italic;
	padding: 14px 0;
	margin: 0 10px 0 10px;
}
.post-text{
	margin: 20px 0;
	font-size: 14px;
	font-family: 'Crimson Text', serif;
	color: #3e3d3d;
	line-height: 1.5;
}
.post-title{
	margin: 40px 0 15px 0;
	color: #3e3d3d;
	font-size: 16px;
	font-weight: 600;
}
.show-more{
	margin: 35px 0 35px 0;
	width: 132px;
	height: 34px;
	border: 2px solid #3e3d3d;
	background-color: #e3e3e3;
	color: #3e3d3d;
	font-family: 'Montserrat', sans-serif;
	display: block;
	text-decoration: none;
	text-align: center;
	line-height: 30px;
	font-size: 13px;
}
.show-more:hover{
	background-color: #3e3d3d;
	color: #e3e3e3;
}
.container3{
	width: 819px;
}
.text-frame{
	margin: 20px 0;
	width: 100%;
	color: #3e3d3d;
	border: 2px solid #b2b2b2;
	padding: 60px 40px;
	font-size: 16px;
	font-style: italic;
	font-family: 'Crimson Text', serif;
	line-height: 1.5;
}
.icons{
	padding: 15px 0;
	border-top: 1px solid #b2b2b2;
	border-bottom: 1px solid #b2b2b2;
}
.icon1{
	margin-left: 2px;
	margin-right: 2px;
	width: 31px;
	height: 31px;
	background-image: url("images/facebook_.png");
	cursor: pointer;
}
.icon1:hover{
	background-color: #3e3d3d;
	border-radius: 100px;
}
.icon2{
	margin-left: 2px;
	margin-right: 2px;
	width: 31px;
	height: 31px;
	background-image: url("images/twiter.png");
	cursor: pointer;
}
.icon2:hover{
	background-color: #3e3d3d;
	border-radius: 100px;
}
.icon3{
	margin-left: 2px;
	margin-right: 2px;
	width: 31px;
	height: 31px;
	background-image: url("images/google+.png");
	cursor: pointer;
}
.icon3:hover{
	background-color: #3e3d3d;
	border-radius: 100px;
}
.icon4{
	margin-left: 2px;
	margin-right: 2px;
	width: 31px;
	height: 31px;
	background-image: url("images/Behance_.png");
	cursor: pointer;
}
.icon4:hover{
	background-color: #3e3d3d;
	border-radius: 100px;
}
.icon5{
	margin-left: 2px;
	margin-right: 2px;
	width: 31px;
	height: 31px;
	background-image: url("images/You Tube.png");
	cursor: pointer;
}
.icon5:hover{
	background-color: #3e3d3d;
	border-radius: 100px;
}
.comments{
	color: #3e3d3d;
	font-size: 16px;
	font-weight: 600;
	margin: 30px 0 50px 0;
}
.name{
	font-size: 13px;
	font-weight: 500;
	margin-bottom: 10px;
}
.date{
	font-size: 14px;
	font-weight: 500;
	font-style: italic;
	font-family: 'Crimson Text', serif;
}
.comment2{
	padding: 30px 0 0 0;
	border-top: 1px solid #b2b2b2;
	border-bottom: 1px solid #b2b2b2;
}
.arrow{
	color: #3e3d3d;
	font-size: 14px;
	font-style: italic;
	font-family: 'Crimson Text', serif;
	display: flex;
	justify-content: flex-end;
	margin: 0 20px 20px 0;
	cursor: pointer;
}
.arrow:hover{
	color: #b2b2b2;
}
.margin-top{
	margin: 100px 0 -30px 0;
}
input[type="text"], input[type="number"], input[type="email"] {
	width: 409px;
	height: 55px;
	color: #777777;
	font-size: 13px;
	font-family: 'Crimson Text', serif;
	font-style: italic;
	border: 2px solid #464646;
	margin-bottom: 22px;
	background-color: transparent;
	padding-left: 20px;
	outline: none;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }
.row-space-between{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.message{
	width: 819px;
	height: 95px;
	color: #777777;
	font-size: 13px;
	font-family: 'Crimson Text', serif;
	font-style: italic;
	border: 2px solid #464646;
	margin-bottom: 22px;
	background-color: transparent;
	padding: 20px 0 0 20px;
	outline: none;
}
.form{
	margin-top: 69px;
}
.submit{
	height: 39px;
	width: 134px;
	color: #cacaca;
	background-color: #464646;
	border: none;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;
}
.submit:hover{
	color: #464646;
	background-color:#cacaca;
}
input[type="search"] {
	background-color: transparent;
	border: none;
	font-size: 14px;
	font-family: 'Crimson Text', serif;
	font-style: italic;
	color: #3e3d3d;
	padding-left: 15px;
	height: 40px;
	width: 262px;
	outline: none;
	-webkit-appearance:none;
	border-color: transparent;
}
.submit-button{
	position: absolute;
	width: 14px;
	height: 14px;
	background-image: url("images/Layer 60.png");
	background-repeat: no-repeat;
	background-color: #e3e3e3;
	border: none;
	top: 13px;
	right: 13px;
}
.forma{
	position: relative;
	background-color: #e3e3e3;
	border: 2px solid #b2b2b2;
	width: 300px;
	-webkit-appearance:none;
}
.text1-p{
	font-size: 12px;
	font-weight: 600;
	color: #3e3d3d;
	margin: 0 0 10px 10px;
	cursor: pointer;
}
.text1-p:hover{
	color: #df9767;
}
.text2-p{
	font-size: 14px;
	font-family: 'Crimson Text', serif;
	font-style: italic;
	color: #3e3d3d;
	margin: 0 0 0 10px;
}
.latest-posts{
	padding: 30px 0;
	border-bottom: 1px solid #b2b2b2;
	width: 100%;
}
.margin-minus{
	margin-bottom: 0;
}
.category{
	font-size: 14px;
	font-family: 'Crimson Text', serif;
	font-style: italic;
	color: #3e3d3d;
	cursor: pointer;
}
.category:hover{
	color: #b2b2b2;
}
.margin-top1{
	margin-top: 70px;
}
.f-photos{
	margin-top: 11px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	cursor: pointer;
}
.f-photos img:hover{
	transform: scale(1.2);
}

@media (max-width: 767px){
	.nav-mobile-menu{
		display: block;
		width: 15px;
		height: 15px;
		position: relative;
	}
	.nav-mobile-menu span{
		height: 1px;
		background-color: #757575;
		position: absolute;
		left: 0;
		right: 0;
		transition: .25s ease-in-out;
	}
	.nav-mobile-menu span:nth-child(1){
		top: 3px;
	}
	.nav-mobile-menu span:nth-child(2){
		top: 7px;
	}
	.nav-mobile-menu span:nth-child(3){
		bottom: 3px;
	}
	.col-mob-3, .col-mob-6{
		width: 100%;
		display: flex;
	}
	.col-mob-6{
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	.col-md-3, .col-md-6{
		width: 100%;
	}
	.col-none{
		display: none;
	}
	.head-row{
		display: flex;
		justify-content: space-between;
	}
	/*active menu*/
	.nav-mobile-menu.active-menu span:nth-child(1){
		top: 50%;
		transform: rotate(45deg);
	}
	.nav-mobile-menu.active-menu span:nth-child(2){
		top: 50%;
		transform: rotate(-45deg);
	}
	.nav-mobile-menu.active-menu span:nth-child(3){
		transform: scale(0);
	}
	.navigation.active-menu{
		opacity: 1;
		visibility: visible;
		top: 69px;
		transform: translateX(0);
	}
	.navigation.active-menu .menu{
		flex-direction: column;
		text-align: left;
	}
	.navigation{
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		width: 100px;
		max-width: 100px;
		transition: all 500ms ease-in-out;
		transform: translateX(150%);
		background-color: white;
	}
	.hidden-menu{
		opacity: 0;
		visibility: hidden;
	}
	.container{
		max-width: 300px;
	}
	.container3{
		width: 300px;
	}
	.text2{
		font-size: 27px;
	}
	.row-post{
		flex-direction: column;
	}
	.col-md-9, .col-md-3{
		width: 100%;
	}
	.photo-blog img{
		width: 300px;
	}
	.col-md-10{
		margin-left: 45px;
	}
	input[type="search"] {
		background-color: transparent;
		border: none;
		font-size: 14px;
		font-family: 'Crimson Text', serif;
		font-style: italic;
		color: #3e3d3d;
		padding-left: 15px;
		height: 40px;
		width: 262px;
		outline: none;
		-webkit-appearance:none;
		border-color: transparent;
	}
	.forma{
		position: relative;
		background-color: #e3e3e3;
		/*border: 2px solid #b2b2b2;*/
		border: 2px solid black;
		width: 300px;
		-webkit-appearance:none;
	}
}
@media (min-width: 768px) {
	.container{
		max-width: 730px;
	}
	.menu a{
		font-size: 10px;
	}
	.container3{
		width: 530px;
	}
	.photo-blog img{
		width: 530px;
	}
	.col-md-40 img{
		width: 70px;
		height: 65px;
	}
	.forma{
		width: 170px;
	}
	.f-photos img{
		width: 55px;
		height: 55px;
	}
	.col-md-10{
		margin-left: 17px;
	}
	.wrapper{
		width: 100%;
	}
}
@media (min-width: 992px) {
	.container{
		max-width: 900px;
	}
	.container3{
		width: 650px;
	}
	.photo-blog img{
		width: 650px;
	}
	.col-md-40 img{
		width: 80px;
		height: 75px;
	}
	.f-photos img{
		width: 68px;
		height: 65px;
	}
	.menu a{
		font-size: 12px;
	}
	.forma{
		width: 300px;
	}
	.col-md-1{
		width: 70px;
		height: 69px;
	}
	.col-md-10{
		margin-left: 10px;
	}
}
@media (min-width: 1200px) {
	.container{
		max-width: 1170px;
	}
	.container3{
		width: 819px;
	}
	.photo-blog img{
		width: 819px;
	}
	.col-md-40 img{
		width: 113px;
		height: 109px;
	}
	.f-photos img{
		width: 90px;
		height: 87px;
	}
	.menu a{
		font-size: 12px;
	}
	.forma{
		width: 300px;
	}
	.col-md-1{
		width: 70px;
		height: 69px;
	}
	.col-md-10{
		margin-left: 10px;
	}
}










